<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledresources/frameworks/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledResources/UIKit/uikit/dist/css/uikit.min.css" />
    <script src="https://kit.fontawesome.com/cb64bb34fd.js"></script>
    <script src="https://www.me-content.com/mec/system/compiledResources/frameworks/jquery/dist/jquery.min.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledresources/frameworks/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.me-content.com/mec/system/compiledResources/UIKit/uikit/dist/js/uikit.min.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledResources/UIKit/uikit/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledResources/flatpickr/dist/flatpickr.min.css">

<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap" rel="stylesheet">

    <script src="https://www.me-content.com/mec/system/compiledResources/flatpickr/dist/flatpickr.min.js"></script>
    <style>
* {
font-family: 'Manrope', sans-serif !important;
}
        .bgImage {

            background-size: cover;
        }

        .bg-semi-transparent {
            background: rgba(255, 255, 255, .7) !important;
        }

        .bg-semi-transparent-dark {
            background: rgba(0, 0, 0, .7) !important;
        }

        .me-button-primary {
            background: #fd7e14;
            font-size: 1.4rem;
            font-weight: 600;
            text-transform: none;
            color: #fff;
            transition: .2s ease;
        }

        .me-button-primary:hover {
            box-shadow: 0 14px 25px rgba(0, 0, 0, .16);
        }

        .me-muted-link {
            color: #4f4f4f;
            text-decoration: underline;
        }

        .me-header-image img {
            width: 85%;
            max-width: 300px;
        }

        .me-card {
            padding: 30px;
        }

        .me-card-focus {
            background: #175377;
            color: #fff;
        }

        .me-card-focus h2 {
            color: #fff;
            margin: 0;
        }

        .me-info-card {
            background: #fd7e14;
            color: #fff;
            padding: 20px;
            border-radius: 15px;
        }

        .me-info-section {
            padding: 0px;
        }

        .me-info-section-row {
            padding: 50px 0px;
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .uk-navbar-item,
        .uk-navbar-nav>li>a,
        .uk-navbar-toggle {
            min-height: 50px;
            color: #2b2b2b;
        }

        @media only screen and (max-width:960px) {
            .me-info-section-row {
                background-image: none !important;
            }
        }
    </style>
</head>

<body>
    <div id="loginBlock" :style="'background-image: url(' + bg_image + ')'" uk-img>
        <!-- <div class="uk-section uk-section-xsmall uk-section-muted">
            <div class="uk-container">

            </div>
        </div> -->

        <div class="uk-navbar-container bg-semi-transparent" uk-navbar>
            <div class="uk-navbar-right">
                <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="#meProducts" uk-toggle></a>
                <ul class="uk-navbar-nav uk-visible@m">
                    <li>
                        <a href="#">Products</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">COBRA</a></li>
                                <li><a href="#">FSA/HRA</a></li>
                                <li><a href="#">ACA</a></li>
                                <li><a href="#">Enrollment</a></li>
                                <li><a href="#">Pension</a></li>
                                <li><a href="#">Billing</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div id="meProducts" uk-offcanvas="flip: true; overlay: true">
            <div class="uk-offcanvas-bar">

                <button class="uk-offcanvas-close" type="button" uk-close></button>

                <h3>Products</h3>

                <ul class="uk-list">
                    <li><a href="#">COBRA</a></li>
                    <li><a href="#">FSA/HRA</a></li>
                    <li><a href="#">ACA</a></li>
                    <li><a href="#">Enrollment</a></li>
                    <li><a href="#">Pension</a></li>
                    <li><a href="#">Billing</a></li>
                </ul>
                <hr>
                <ul class="uk-list">
                    <li><a href="#">Contact Us</a></li>
                </ul>

            </div>
        </div>
        <div uk-scrollspy="cls: uk-animation-fade uk-animation-fast; repeat: true"
            class="uk-section uk-section-small uk-position-relative">
            <div class="uk-container">
                <div class="uk-child-width-1-5@m uk-grid-small uk-grid-match" uk-grid="masonry: false;parallax: 50">
                    <div uk-scrollspy="cls: uk-animation-fade uk-animation-fast; repeat: true" class="uk-width-1-3@m">
                        <div class="bg-semi-transparent uk-card me-card uk-card-body uk-card-default">
                            <div class="me-header-image uk-text-center">
                                <img src="https://www.me-content.com/mec/system/images/myenroll_logo_clear2.png" uk-img
                                    alt="MyEnroll360">
                            </div>
                            <h2>
                                Login
                            </h2>
                            <div class="uk-width-expand uk-inline">
                                <a class="uk-form-icon" href="" uk-icon="icon: user"></a>
                                <input class="uk-input" placeholder="User ID" type="text" name="userid">
                            </div>
                            <div class="uk-width-expand uk-inline">
                                <a class="uk-form-icon" href="" uk-icon="icon: lock"></a>
                                <input class="uk-input" placeholder="Password" type="password" name="password">
                            </div>
                            <div class="uk-margin uk-text-center uk-grid-small uk-child-width-1-1" uk-grid>

                                <div>
                                    <button class="uk-button-large uk-width-expand uk-button me-button-primary">
                                        Log In
                                    </button>
                                </div>
                                <div>
                                    <label for=""><input class="uk-checkbox" type="checkbox" name="" id=""> Remember My
                                        User ID</label>
                                </div>
                                <div class="uk-margin-large">
                                    <div class="uk-grid-small uk-child-width-1-2@m" uk-grid>
                                        <div>
                                            <a class="me-muted-link" href="">Forgot User ID/Password?</a>
                                        </div>
                                        <div>
                                            <a class="me-muted-link" href="">First Time Users</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div uk-scrollspy="cls: uk-animation-fade uk-animation-fast; repeat: true" class="uk-width-2-5@m">
                        <div class="uk-grid-small uk-child-width-1-1 uk-grid-match" uk-grid>
                            <div uk-scrollspy="cls: uk-animation-fade uk-animation-fast; repeat: true">
                                <div class="uk-card me-card uk-card-default uk-card-body">
                                    <h2 class="">
                                        Submit FSA or HRA Claims
                                    </h2>
                                    <div>
                                        If your participate in a Health Care and/or Dependent (Day) Care FSA, your
                                        employer puts money aside from your paycheck (before taxes are taken out) and
                                        you use that money to pay for eligible health care and/or dependent (day) care
                                        expenses.
                                    </div>
                                    <div class="uk-margin uk-width-expand">
                                        <button class="uk-button-large uk-button uk-width-expand me-button-primary">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div uk-scrollspy="cls: uk-animation-fade uk-animation-fast; repeat: true">
                                <div class="uk-text-center uk-card me-card uk-card-default uk-card-body">
                                    <div class="uk-text-lead">
                                        First Time Users
                                    </div>
                                    <div class="uk-width-expand uk-margin">
                                        <button class="uk-button-large uk-button uk-default me-button-primary uk-width-expand">
                                            Learn More
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-expand@m">
                        <div class="uk-grid-small uk-child-width-1-1@m uk-grid-match" uk-grid>
                            <div uk-scrollspy="cls: uk-animation-fade uk-animation-fast; repeat: true">
                                <div class="uk-text-center me-card-focus uk-card me-card uk-card-body uk-card-default">
                                    <h2>Look Up FSA/HRA Denial</h2>
                                    <div class="uk-width-expand uk-margin">
                                        <button class="uk-width-expand uk-button uk-button-large me-button-primary">
                                            Look Up
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div uk-scrollspy="cls: uk-animation-fade uk-animation-fast; repeat: true">
                                <div class="uk-text-center uk-card me-card uk-card-body uk-card-default">
                                    <h2>Submit a Service Request</h2>
                                    <div class="uk-width-expand uk-margin">
                                        <button class="uk-width-expand uk-button uk-button-large me-button-primary">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div uk-scrollspy="cls: uk-animation-fade uk-animation-fast; repeat: true"
            class="bg-semi-transparent-dark uk-section uk-section-small me-info-section uk-section-secondary uk-position-relative">
            <div class="uk-container">
                <div :style="'background-image: url(' + selectedPeopleImage + ')'"
                    class="uk-child-width-expand@m me-info-section-row" uk-grid>
                    <div class="uk-width-1-6@m">
                        <div>

                        </div>
                    </div>
                    <div>
                        <div class="uk-child-width-expand@m uk-grid-small" uk-grid>
                            <template v-for="item in infoCards.card">
                                <div>
                                    <a :href="item.link" uk-scroll>
                                        <div class="uk-text-center uk-card uk-card-body uk-padding-small me-info-card">
                                            <div v-html="item.icon">
                                            </div>
                                            <div>
                                                {{ item.title }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template v-for="item in infoCards.card">
            <div uk-scrollspy="cls:uk-animation-slide-right-medium; repeat: true"
                class="uk-section uk-section-secondary uk-section-small" :id="item.link.substring(1)">
                <div class="uk-container">
                    <article class="uk-article">
                        <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ item.title }}</a></h1>
                        <p v-html="item.details.body">

                        </p>

                        <div class="uk-grid-small uk-child-width-auto" uk-grid>
                            <div>
                                <a class="uk-button uk-button-text" href="#">Read more</a>
                            </div>
                        </div>

                    </article>
                </div>
            </div>
        </template>
    </div>
    <script src="https://www.me-content.com/mec/system/compiledResources/frameworks/vue/dist/vue.js"></script>
    <script src="js/login_primary.js"></script>
</body>

</html>
