.me-card {
    transition: .3s ease;
    border: 3px solid #1e87f0;
    color: #fff;
    background: #1e87f0;
}

.me-card:hover {
    background: #fff;
    color: #1e87f0 !important;
}


.me-redirect {
    cursor: pointer;
}