<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledresources/frameworks/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.me-content.com/mec/system/compiledResources/UIKit/css/uikit.min.css" />
    <script src="https://kit.fontawesome.com/cb64bb34fd.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledresources/frameworks/bootstrap/dist/js/bootstrap.bundle.min.js">
    </script>
    <script src="https://www.me-content.com/mec/system/compiledResources/UIKit/js/uikit.min.js"></script>
    <script src="https://www.me-content.com/mec/system/compiledResources/UIKit/js/uikit-icons.min.js"></script>
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledResources/flatpickr/dist/flatpickr.min.css">
    <script src="https://www.me-content.com/mec/system/compiledResources/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="js/html2canvas.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledResources/modules/placeholder-loading/dist/css/placeholder-loading.min.css">
    </script>
    <link rel="stylesheet" href="./styles/totalComp.css">
    <script>
        var currencyCollect = 0;
    </script>
</head>

<body class="uk-animation-fade">
    <div class="uk-section uk-section-secondary uk-section-large uk-width-1-1 uk-position-fixed"></div>

    <div class="uk-section uk-section-secondary uk-section-small uk-position-relative uk-position-z-index ">
        <div class="uk-container">
            <div class="uk-text-large">
                Total Compensation Statement
            </div>
        </div>
    </div>
    <div class="uk-section uk-section-small uk-section-de uk-position-relative">
        <div class="uk-container">
            <div>
                <ul id="totalCompAccord" uk-accordion="multiple: false">
                    <li class="uk-open me-accordion-card uk-border-rounded">
                        <a class="uk-accordion-title me-accordion-title uk-padding-small" href="#">
                            Step 1: Let us know a
                            little about the Employee
                        </a>
                        <div id="totCompForm" class="uk-accordion-content me-accordion-content uk-padding-small">
                            <div class="uk-grid-small uk-child-width-expand" uk-grid>
                                <div>
                                    <div class="uk-grid-small" uk-grid>
                                        <h3 class="uk-card-title uk-width-1-1">
                                            Employee Information
                                        </h3>
                                        <div class="uk-width-2-5@s">
                                            <div>
                                                <label for="" class="uk-form-label">First Name</label>
                                                <input id="firstNameInput" type="text" minlength="2"
                                                    class="required uk-input uk-box" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="uk-width-1-5@s">
                                            <div>
                                                <label for="" class="uk-form-label">Middle Initial</label>
                                                <input id="middleNameInput" type="text" class="uk-input"
                                                    placeholder="M.I." maxlength="1">
                                            </div>
                                        </div>
                                        <div class="uk-width-2-5@s">
                                            <div>
                                                <label for="" class="uk-form-label">Last Name</label>
                                                <input id="lastNameInput" type="text" minlength="2"
                                                    class="required uk-input" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="uk-width-1-2@s">
                                            <div>
                                                <label for="emailEntry" class="uk-form-label">Email Address</label>
                                                <input id="emailEntry" type="email" class="required uk-input uk-box"
                                                    placeholder="Email Address">
                                            </div>
                                        </div>
                                        <div class="uk-width-1-2@s">
                                            <div>
                                                <label for="confirmEmailEntry" class="uk-form-label">
                                                    Confirm Email
                                                    Address
                                                </label>
                                                <input id="confirmEmailEntry" type="email"
                                                    class="required uk-input uk-box"
                                                    placeholder="Re-Enter Email Address">
                                            </div>
                                        </div>
                                        <div id="alertArea" class="uk-width-1-1">

                                        </div>
                                        <div class="uk-width-1-1 uk-margin">
                                            <div class="uk-width-expand@s">
                                                <div>
                                                    <label for="" class="uk-form-label">Base Salary</label>
                                                    <input type="number" name="currency-field" id="currency-field"
                                                        pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                                        data-type="currency" placeholder="Enter Salary..."
                                                        class="required uk-input">
                                                </div>
                                            </div>
                                            <div class="uk-width-1-1 uk-margin">
                                                <div class="uk-child-width-auto" uk-grid>
                                                    <div class="uk-width-1-1">
                                                        <label for="" class="uk-form-label">
                                                            Employee Status
                                                        </label>
                                                    </div>
                                                    <div v-for="status in compStatus" class="uk-margin-small-top">
                                                        <input :id="'statusSel' + status.Status_code"
                                                            :value="status.Status" class="uk-radio" type="radio"
                                                            name="statusSel" v-model="compStatusSel">
                                                        <label :for="'statusSel' + status.Status_code">
                                                            {{ status.Status }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="uk-grid-small" uk-grid>
                                        <div class="uk-width-1-3@s">
                                            <div>
                                                <label for="" class="uk-form-label">Locality</label>
                                                <select class="required uk-select" id="localityDrop">
                                                    <option disabled hidden selected value="-1">
                                                        Please Select a
                                                        Locality...
                                                    </option>
                                                    <option v-for="locale in compLocality" :value="locale.Local_perc">
                                                        {{ locale.Local_name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-3@s">
                                            <div>
                                                <label for="" class="uk-form-label">Retirement Plan</label>
                                                <select class="required uk-select" id="retirementDrop"
                                                    v-model="selectedRetirement" v-on:change="changeRetPlan">
                                                    <option disabled hidden selected value="-1">
                                                        Please Select a
                                                        Retirement Plan...
                                                    </option>

                                                    <option v-for="RP in compRetirement"
                                                        :data-ee-value="RP.EE_BWK_CONT_PERC"
                                                        :data-er-value="RP.ER_BWK_CONT_PERC">
                                                        {{ RP.PLAN }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-3@s">
                                            <div>
                                                <label for="" class="uk-form-label">Benefits Class</label>
                                                <select class="required uk-select" id="classDrop" v-model="selClass">
                                                    <option disabled hidden selected value="-1">
                                                        Please Select a Beneifts
                                                        Class...
                                                    </option>

                                                    <option v-for="classes in compClasses" :value="classes.Class_Code">
                                                        {{ classes.Class_Name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1 uk-text-right">
                                    <button class="uk-button uk-border-pill uk-button-primary" type="button"
                                        @click="runReport">
                                        Run Report <i class="fad fa-chart-pie"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li id="compDetailsSect" class="uk-disabled me-accordion-card uk-border-rounded">
                        <a class="uk-accordion-title me-accordion-title uk-padding-small" href="#">
                            Step 2: Total
                            Compensation Breakdown
                        </a>
                        <div class="uk-accordion-content me-accordion-content uk-padding-small">
                            <div class="uk-grid-small uk-child-width-expand uk-grid-divider" uk-grid>
                                <div class="uk-width-1-1">
                                    <div class="uk-grid-small uk-child-width-expand" uk-grid>
                                        <div>
                                            <div class="">
                                                <div class="me-name-hdr text-primary">

                                                </div>
                                                <div id="emailInput">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <div class="">
                                                <table class="uk-table uk-table-middle uk-table-small">
                                                    <tbody>
                                                        <tr>
                                                            <td class="uk-text-bold uk-text-small table-padding-right">
                                                                Viewed
                                                            </td>
                                                            <td id="viewedTs" class="uk-text-small"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="uk-text-bold uk-text-small table-padding-right">
                                                                Status
                                                            </td>
                                                            <td id="statusColl" class="uk-text-small"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="uk-text-bold uk-text-small table-padding-right">
                                                                Locality
                                                            </td>
                                                            <td id="localityColl" class="uk-text-small"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="uk-text-bold uk-text-small table-padding-right">
                                                                Retirement Plan
                                                            </td>
                                                            <td id="retirementColl" class="uk-text-small"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="uk-text-bold uk-text-small table-padding-right">
                                                                Benefits Class
                                                            </td>
                                                            <td id="classColl" class="uk-text-small"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1">
                                    <dl class="uk-description-list">
                                        <dt>Welcome!</dt>
                                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                                        <dt>Disclaimer</dt>
                                        <dd>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.
                                        </dd>
                                    </dl>
                                </div>
                                <!-- <div class="uk-width-1-1">
                                    <div class="uk-width-auto uk-display-inline-block">
                                        <div class="me-check-cont uk-padding-small">
                                            <input class="uk-checkbox" id="disclaimerCheck" type="checkbox">
                                            <label class="uk-margin-remove-bottom me-label-check" for="disclaimerCheck">
                                                I accept this disclaimer
                                            </label>
                                        </div>
                                    </div> -->
                            </div>
                            <div id="breakdownContainer"
                                class="uk-width-1-1 uk-animation-slide-top-small uk-animation-fast">
                                <div class="uk-grid-small" uk-grid>
                                    <div class="uk-width-1-1">
                                        <div class="uk-grid-small uk-child-width-expand@s uk-grid-match" uk-grid>
                                            <div>
                                                <div class="uk-card uk-card-default uk-position-relative">
                                                    <h3
                                                        class="uk-margin-remove uk-card-title uk-text-center bg-success uk-padding-small text-light">
                                                        Base Pay
                                                    </h3>
                                                    <div class="uk-position-relative uk-padding">
                                                        <div class="uk-position-center">
                                                            <span id="basePayColl"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="uk-width-auto uk-position-relative uk-visible@s">
                                                <div class="uk-flex-bottom pb-4 uk-flex">
                                                    <i class="fal fa-plus"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="uk-card uk-card-default uk-position-relative">
                                                    <h3
                                                        class="uk-margin-remove uk-card-title uk-text-center bg-success uk-padding-small text-light">
                                                        Agency Contributions
                                                    </h3>
                                                    <div class="uk-position-relative uk-padding">
                                                        <div class="uk-position-center">
                                                            <span id="agencyCont"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="uk-width-auto uk-position-relative  uk-visible@s">
                                                <div class="uk-flex-bottom pb-4 uk-flex">
                                                    <i class="fal fa-equals"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="uk-card uk-card-default uk-position-relative">
                                                    <h3
                                                        class="uk-margin-remove uk-card-title uk-text-center uk-background-primary uk-padding-small text-light">
                                                        Total Compensation
                                                    </h3>
                                                    <div class="uk-position-relative uk-padding">
                                                        <div class="uk-position-center">
                                                            <span id="totalComp"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="uk-width-1-1"
                                        style="border-top:1px  solid #c1c1c1;padding-top:30px;margin-top:30px">
                                        <div class="uk-grid-small uk-child-width-expand" uk-grid>

                                            <div class="uk-width-2-5@s">
                                                <div id="chartArea"
                                                    class="uk-animation-slide-left-medium uk-child-width-1-1 uk-grid-small uk-grid-stack uk-hidden"
                                                    uk-grid>
                                                    <div id="chart">
                                                        <template>
                                                            <div>
                                                                <apexchart type=pie :options="chartOptions"
                                                                    :series="series" />
                                                            </div>
                                                        </template>
                                                    </div>
                                                    <div id="messageArea">
                                                        <h4 class="uk-padding-large uk-text-center">
                                                            <div style="color: #6f42c1">
                                                                Did you know FDIC was named best
                                                                employer of all federal agencies in 2019?
                                                            </div>
                                                        </h4>
                                                    </div>
                                                    <div>
                                                        <h4 class="uk-padding-large uk-text-center">
                                                            <a href="https://www.fdic.gov/transparency/"
                                                                target="_blank">Message from the Chairman</a>
                                                        </h4>
                                                    </div>
                                                    <div>
                                                        <h4 class="uk-padding-large uk-text-center">
                                                            <a href="https://www.fdic.gov/news/news/press/2019/"
                                                                target="_blank">Press Releases</a>
                                                        </h4>
                                                    </div>

                                                </div>
                                            </div>
                                            <div id="breakdownArea" class="uk-width-3-5@s uk-child-width-expand"
                                                uk-grid>
                                                <div class="uk-width-1-1">
                                                    <div class="uk-width-1-1@s">
                                                        <div class="uk-inline  uk-width-expand uk-text-right">
                                                            <button class="uk-button uk-button-primary" type="button"
                                                                uk-toggle="#planSelCh">
                                                                Select Plans/Benefit
                                                                Levels
                                                            </button>
                                                            <div id="planSelCh" class="uk-modal-container"
                                                                uk-modal="bg-close: false">
                                                                <div class="uk-modal-dialog">
                                                                    <!-- <button class="uk-modal-close-default" type="button"
                                                                        uk-close></button> -->
                                                                    <div
                                                                        class="uk-modal-header uk-background-primary text-light">
                                                                        <h3 class="text-light">Plan Choices</h3>
                                                                    </div>
                                                                    <div class="uk-modal-body">
                                                                        <div class="uk-padding-small uk-child-width-auto uk-grid-small uk-text-left"
                                                                            uk-grid>
                                                                            <div class="uk-width-1-1@s uk-text-right">
                                                                                <button
                                                                                    class="uk-button uk-button-default uk-button-small"
                                                                                    type="button" @click="clearReset()">
                                                                                    Clear Selections <i
                                                                                        class="fad fa-trash"></i>
                                                                                </button>
                                                                            </div>
                                                                            <template
                                                                                v-for="(choices, group_name) in grouping">
                                                                                <div class="uk-width-1-1 me-choice">

                                                                                    <h5 class="groupingHdr">
                                                                                        {{ group_name }} Plans
                                                                                    </h5>
                                                                                    <div class="uk-child-width-auto uk-grid-small"
                                                                                        uk-grid>
                                                                                        <template
                                                                                            v-for="item in choices">
                                                                                            <div>
                                                                                                <div>
                                                                                                    <input
                                                                                                        :id="item.Plan_ID+item.Tier_ID"
                                                                                                        type="radio"
                                                                                                        :name="item.Plan + 'Plan'">
                                                                                                    <label
                                                                                                        :for="item.Plan_ID+item.Tier_ID">
                                                                                                        {{ item.Option }}
                                                                                                        -
                                                                                                        {{ item.Tier }}
                                                                                                    </label>
                                                                                                </div>
                                                                                            </div>
                                                                                        </template>
                                                                                    </div>
                                                                                </div>
                                                                            </template>

                                                                        </div>
                                                                    </div>
                                                                    <div class="uk-modal-footer uk-text-right">
                                                                        <button
                                                                            class="uk-button uk-button-default uk-border-rounded uk-modal-close"
                                                                            type="button">Cancel</button>
                                                                        <button
                                                                            class="uk-button uk-button-primary uk-border-rounded"
                                                                            type="button"
                                                                            @click="loadContributions()">Run
                                                                            Report</button>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="ratesTable" class="uk-width-1-1 uk-hidden">
                                                    <div class="me-table-border uk-overflow-auto">
                                                        <div class="table-title-bar">
                                                            Insurance Benefits
                                                        </div>
                                                        <table class="uk-table uk-table-divider uk-table-middle">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        Plans
                                                                    </th>
                                                                    <th class="uk-text-center">
                                                                        Benefit Level
                                                                    </th>
                                                                    <th class="uk-text-center">
                                                                        Total Premium Biweekly
                                                                    </th>
                                                                    <th class="uk-text-center">
                                                                        Employee Contribution Biweekly
                                                                    </th>
                                                                    <th class="uk-text-center">
                                                                        Agency Contribution Weekly
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr v-for="items in compContributions"
                                                                    class=" uk-animation-fade uk-animation-fast">
                                                                    <td>
                                                                        {{ items.Plan }} {{ items.Option }}
                                                                    </td>
                                                                    <td class="uk-text-center">
                                                                        {{ items.Tier }}
                                                                    </td>
                                                                    <td class="uk-text-right">
                                                                        {{ formatPrice(items.total_cost) }}
                                                                    </td>
                                                                    <td class="uk-text-right">
                                                                        {{ formatPrice(items.ee_cost) }}
                                                                    </td>
                                                                    <td class="uk-text-right">
                                                                        {{ formatPrice(items.er_cost) }}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div id="fedBenTable" class="uk-width-1-1 ">
                                                    <div class="me-table-border uk-overflow-auto">
                                                        <div class="table-title-bar">
                                                            Federal Benefits
                                                        </div>
                                                        <table class="uk-table uk-table-divider uk-table-middle">
                                                            <thead>
                                                                <tr>
                                                                    <th class="uk-table-expand">
                                                                        Plans
                                                                    </th>

                                                                    <th class="uk-table-shrink uk-text-center">
                                                                        Agency Contribution Weekly
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr v-for="items in compFedBen"
                                                                    class=" uk-animation-fade">
                                                                    <td>
                                                                        {{ items.Fed_Ben }}
                                                                    </td>

                                                                    <td class=" uk-text-right">
                                                                        {{ formatPrice(items.Fed_Val) }}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div id="retBenTable" class=" uk-width-1-1 ">
                                                    <div class="me-table-border uk-overflow-auto">
                                                        <div class="table-title-bar">
                                                            Retirement Plans
                                                        </div>
                                                        <table class="uk-table uk-table-divider uk-table-middle">
                                                            <thead>
                                                                <tr>
                                                                    <th class="uk-table-expand">
                                                                        Retirement Plan
                                                                    </th>
                                                                    <th class="uk-table-shrink uk-text-center">
                                                                        Plan Type
                                                                    </th>
                                                                    <th class="uk-table-shrink uk-text-center">
                                                                        Agency Contribution Level*
                                                                    </th>
                                                                    <th class="uk-table-shrink uk-text-center">
                                                                        Agency Contribution Biweekly
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr v-for="items in compRetPlans"
                                                                    class=" uk-animation-fade">
                                                                    <td>
                                                                        {{ items.PLAN }}
                                                                    </td>
                                                                    <td class="uk-text-center">
                                                                        {{ items.Plan_Type }}
                                                                    </td>
                                                                    <td class="uk-text-center">
                                                                        {{ items.agency_cont_level }}
                                                                    </td>
                                                                    <td class="uk-text-center">
                                                                        {{ items.agency_cont_bwk }}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div id="fringeBenTable" class="uk-width-1-1 ">
                                                    <div class="me-table-border uk-overflow-auto">
                                                        <div class="table-title-bar">
                                                            Additional Fringe & Insurance Benefits
                                                        </div>
                                                        <table class="uk-table uk-table-divider uk-table-middle">
                                                            <tbody>
                                                                <tr v-for="items in fringeBenefits"
                                                                    class=" uk-animation-fade">
                                                                    <td>
                                                                        {{ items.title }} <a :href="items.url"
                                                                            target="_blank">{{ items.click_text }}</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <h1 id="noData" class="uk-width-1-1 uk-heading-small uk-text-center">
                                            <p>
                                                No Plans selected.
                                            </p>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            </form>

                        </div>

                    </li>

                </ul>
                <div id="submit" class="uk-position-bottom-right uk-position-fixed m-4 uk-animation-fade uk-hidden">
                    <button type="button" class="uk-button-primary uk-button" onclick="saveToHist(); return false;">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://www.me-content.com/mec/system/compiledResources/frameworks/vue/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>

    <script src="./js/vue_components.js?47"></script>
    <script src="./js/chart_stuff.js"></script>


    <script src="./js/addl_scripts.js?12"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#cmd').click(function () {

                capture();
            });
        });


        function capture() {
            html2canvas($('#compDetailsSect'), {
                onrendered: function (canvas) {
                    var fname = $.trim($('#firstNameInput').text());
                    var lname = $.trim($('#lastNameInput').text());
                    var pdf = new jsPDF("p", "mm", "a4");

                    var width = pdf.internal.pageSize.getWidth();
                    var height = pdf.internal.pageSize.getHeight();

                    pdf.addImage(canvas.toDataURL("image/jpeg"), 'JPEG', 0, 0, width, height);
                    pdf.save(fname + lname + '.pdf');

                    var string = pdf.output('datauristring');
                    $.ajax({
                        url: "/web_projects/MyEnrollWebService/CommonWebMethod.aspx/SavePDFToJdrive",
                        data: JSON.stringify({
                            pdfoutput: string,
                            filename: "TotalComp",
                            foldername: "\\Clients\\FDIC\\Total_Comp\\"
                        }),
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            var mydata = data.d;

                        },
                        error: function (msg) {
                            alert("Error capturing/saving pdf, Please contact developmet team. " +
                                msg.Message);
                        }
                    })
                }
            })
        }
    </script>
</body>

</html>