<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledresources/frameworks/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledResources/UIKit/uikit/dist/css/uikit.min.css" />
    <script src="https://kit.fontawesome.com/cb64bb34fd.js"></script>
    <script src="https://www.me-content.com/mec/system/compiledResources/frameworks/jquery/dist/jquery.min.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledresources/frameworks/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.me-content.com/mec/system/compiledResources/UIKit/uikit/dist/js/uikit.min.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledResources/UIKit/uikit/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledResources/flatpickr/dist/flatpickr.min.css">
    <script src="https://www.me-content.com/mec/system/compiledResources/flatpickr/dist/flatpickr.min.js"></script>
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledResources/modules/apexcharts/dist/apexcharts.css">
</head>

<body>
    <div id="covidMain">

        <div class="uk-section uk-section-small">
            <div class="uk-container">
                <h3>
                    COVID Tracker
                </h3>
                <p class="uk-text-meta">
                    Find the latest data for your state.
                </p>
                <div>

                    <div class="uk-grid-small uk-child-width-1-1 uk-grid-match" uk-grid>
                        <div class="uk-width-1-2@s">
                            <h4 class="uk-width-1-1">
                                Today&apos;s Data
                            </h4>
                            <div class="uk-card uk-card-default">

                                <div class="uk-card-body">
                                    <div>
                                        <label for="">State</label>
                                        <select name="" v-model="selState" id="" class="uk-select">
                                            <option value="" selected disabled>Select a State...</option>
                                            <option :value="item" v-for="item in stateList">{{ item }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-expand">
                            <div class="uk-child-width-1-2@s uk-grid-match uk-grid-small" uk-grid>
                                <h4 class="uk-width-1-1">
                                    Today&apos;s Data
                                </h4>
                                <div>
                                    <div class="uk-card uk-card-primary">
                                        <div class="uk-card-body">
                                            <template v-if="dailyDataState.length > 0">
                                                <div class="mb-2">
                                                    <div class="">
                                                        Confirmed Cases
                                                    </div>
                                                    <div class="uk-text-large">
                                                        {{ numberWithCommas(dailyConfirmed) }}
                                                    </div>
                                                </div>
                                            </template>
                                            <template v-if="dailyDataState.length > 0">
                                                <div class="mb-2">
                                                    <div class="">
                                                        +/- from Yesterday
                                                    </div>
                                                    <div class="uk-text-large">
                                                        <template
                                                            v-if="confirmedIncrease > 0">+</template>{{ numberWithCommas(confirmedIncrease) }}
                                                    </div>
                                                </div>
                                            </template>

                                            <template v-else>
                                                <div class="uk-position-center">
                                                    <div class="mt-3 spinner-border text-default"
                                                        style="height:2.5rem;width:2.5rem" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-secondary">
                                        <div class="uk-card-body">
                                            <template v-if="dailyDataState.length > 0">
                                                <div class="mb-2">
                                                    <div class="">
                                                        Deaths
                                                    </div>
                                                    <div class="uk-text-large">
                                                        {{ numberWithCommas(dailyDeath) }}
                                                    </div>
                                                </div>
                                            </template>
                                            <template v-if="dailyDataState.length > 0">
                                                <div class="mb-2">
                                                    <div class="">
                                                        +/- from Yesterday
                                                    </div>
                                                    <div class="uk-text-large">
                                                        <template
                                                            v-if="deathIncrease > 0">+</template>{{ numberWithCommas(deathIncrease) }}
                                                    </div>
                                                </div>
                                            </template>

                                            <template v-else>
                                                <div class="uk-position-center">
                                                    <div class="mt-3 spinner-border text-default"
                                                        style="height:2.5rem;width:2.5rem" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    Curve
                                </div>
                                <div class="uk-card-body uk-padding-small">
                                    <div>
                                        <template v-if="dailyDataState.length > 0">
                                            <apexchart type="area" height="350" :options="chartOptions"
                                                :series="series">
                                            </apexchart>
                                        </template>
                                        <template v-else>
                                            <div class="uk-text-center">
                                                <div class="uk-text-lead">
                                                    Loading
                                                </div>
                                                <div class="mt-3 spinner-border text-primary"
                                                    style="height:2.25rem;width:2.25rem" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    Daily Details
                                </div>
                                <div class="uk-card-body">
                                    <div class="uk-overflow-auto">
                                        <template v-if="dailyDataState.length > 0">
                                            <table class="uk-table uk-table-responsive uk-table-divider">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Total Tested</th>
                                                        <th>Confirmed Cases</th>
                                                        <th>Deaths</th>
                                                        <th>Ratio Positive/Negative</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="item in dailyDataState">
                                                        <td>
                                                            <div class="uk-hidden@m uk-text-bold">Date</div>
                                                            {{ item.date.toString().slice(4,6) }}/{{ item.date.toString().slice(6,8) }}/{{ item.date.toString().slice(0,4) }}
                                                        </td>
                                                        <td>
                                                            <div class="uk-hidden@m uk-text-bold">Total Tested</div>
                                                            {{numberWithCommas(item.totalTestResults)}}
                                                        </td>
                                                        <td>
                                                            <div class="uk-hidden@m uk-text-bold">Confirmed Cases</div>
                                                            <template v-if="item.positive != null">
                                                                {{numberWithCommas(item.positive)}}
                                                            </template>
                                                            <template v-else>
                                                                0
                                                            </template>
                                                        </td>
                                                        <td>
                                                            <div class="uk-hidden@m uk-text-bold">Deaths</div>
                                                            <template v-if="item.death != null">
                                                                {{numberWithCommas(item.death)}}
                                                            </template>
                                                            <template v-else>
                                                                0
                                                            </template>
                                                        </td>
                                                        <td>
                                                            <div class="uk-hidden@m uk-text-bold">Ratio
                                                                Positive/Negative</div>
                                                            <template v-if="item.positive != null">
                                                                {{numberWithCommas(item.positive)}}
                                                            </template>
                                                            <template v-else>
                                                                0
                                                            </template>
                                                            /
                                                            <template v-if="item.negative != null">
                                                                {{numberWithCommas(item.negative)}}
                                                            </template>
                                                            <template v-else>
                                                                0
                                                            </template>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </template>
                                        <template v-else>
                                            <div class="uk-text-center">
                                                <div class="uk-text-lead">
                                                    Loading
                                                </div>
                                                <div class="mt-3 spinner-border text-primary"
                                                    style="height:2.25rem;width:2.25rem" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="app" class="uk-section uk-section-small">
        <div id="chart">

        </div>
    </div>
    <script
        src="https://www.me-content.com/mec/system/compiledResources/modules/apexcharts/dist/apexcharts.min.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledResources/modules/apexcharts/dist/vue-apexcharts.js"></script>
    <script src="https://www.me-content.com/mec/system/compiledResources/frameworks/vue/dist/vue.js"></script>
    <script src="js/covid_main.js"></script>
</body>

</html>