<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledresources/frameworks/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledResources/UIKit/uikit/dist/css/uikit.min.css" />
    <script src="https://kit.fontawesome.com/cb64bb34fd.js"></script>
    <script src="https://www.me-content.com/mec/system/compiledResources/frameworks/jquery/dist/jquery.min.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledresources/frameworks/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.me-content.com/mec/system/compiledResources/UIKit/uikit/dist/js/uikit.min.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledResources/UIKit/uikit/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledResources/flatpickr/dist/flatpickr.min.css">
    <script src="https://www.me-content.com/mec/system/compiledResources/flatpickr/dist/flatpickr.min.js"></script>
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledResources/modules/apexcharts/dist/apexcharts.css">
</head>

<body>
    <div id="covidMain">
        <div class="uk-section uk-section-small">
            <div class="uk-container">
                <h3>
                    COVID Tracker
                </h3>
                <div>

                    <div class="uk-grid-small uk-child-width-1-1" uk-grid>
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    Get Started
                                </div>
                                <div class="uk-card-body">
                                    <div>
                                        <label for="">State</label>
                                        <select name="" v-model="selState" id="" class="uk-select">
                                            <option value="" selected disabled>Select a State...</option>
                                            <option :value="item" v-for="item in stateList">{{ item }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    Daily
                                </div>
                                <div class="uk-card-body uk-padding-small">
                                    <div>
                                        <apexchart type="bar" height="350" :options="chartOptions" :series="series">
                                        </apexchart>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    Daily Data
                                </div>
                                <div class="uk-card-body">
                                    <div class="uk-overflow-auto">
                                        <table class="uk-table">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Total Tested</th>
                                                    <th>Confirmed Cases</th>
                                                    <th>Deaths</th>
                                                    <th>Ratio Positive/Negative</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in dailyDataState">
                                                    <td>{{ item.date.toString().slice(4,6) }}/{{ item.date.toString().slice(6,8) }}/{{ item.date.toString().slice(0,4) }}
                                                    </td>
                                                    <td>
                                                        {{numberWithCommas(item.totalTestResults)}}
                                                    </td>
                                                    <td>
                                                        <template v-if="item.positive != null">
                                                            {{numberWithCommas(item.positive)}}
                                                        </template>
                                                        <template v-else>
                                                            0
                                                        </template>
                                                    </td>
                                                    <td>
                                                        <template v-if="item.death != null">
                                                            {{numberWithCommas(item.death)}}
                                                        </template>
                                                        <template v-else>
                                                            0
                                                        </template>
                                                    </td>
                                                    <td>
                                                        <template v-if="item.positive != null">
                                                            {{numberWithCommas(item.positive)}}
                                                        </template>
                                                        <template v-else>
                                                            0
                                                        </template>
                                                        /
                                                        <template v-if="item.negative != null">
                                                            {{numberWithCommas(item.negative)}}
                                                        </template>
                                                        <template v-else>
                                                            0
                                                        </template>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="app" class="uk-section uk-section-small">
        <div id="chart">

        </div>
    </div>
    <script
        src="https://www.me-content.com/mec/system/compiledResources/modules/apexcharts/dist/apexcharts.min.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledResources/modules/apexcharts/dist/vue-apexcharts.js"></script>
    <script src="https://www.me-content.com/mec/system/compiledResources/frameworks/vue/dist/vue.js"></script>
    <script src="js/covid_main.js"></script>
</body>

</html>