.me-section {
    padding: 20px 0px;
}

.me-padding-y-large {
    padding: 40px 0px 20px 0px;
}

.me-container {
    padding: 0px 15px;
}

.me-shadow {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .08);
}

.me-body {
    background: #f8f8f8;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.me-card {
    background: #fff;
    border-radius: 5px;
}

.me-card-hdr {
    padding: 20px;
}

.me-card-body {
    padding: 10px 20px 20px 20px;
}

.me-padding-top-remove {
    padding-top: 0;
}

.me-padding-bottom-remove {
    padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
.me-text-meta {
    font-size: .75rem;
    text-transform: uppercase;
    color: #4f4f4f;
}
.me-text-more {
    color: #1e87f0;
}

.me-text-meta-sm {
    font-size: .65rem;
    text-transform: lowercase;
    color: #4f4f4f;
}
.me-position-bottom-center {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.me-color-primary {
    color: #1e87f0;
}

.me-color-meta {
    color: #4f4f4f;
}

.me-color-orange {
    color: #fd7e14;
}

.me-color-red {
    color: #dc3545;
}

.me-color-purple {
    color: #6f42c1;
}

.me-color-green {
    color: #28a745;
}

.me-color-yellow {
    color: #ffc107;
}
.me-color-light-gray {
    color: #c1c1c1;
}

.me-grid {
    display: flex;
    flex-wrap: wrap;
}

.me-grid>* {
    width: 100%;
    flex: 1;
    white-space: nowrap;
}

.me-grid-2>* {
    width: 50%;
    flex: 1;
}

.me-grid-fluid {
    justify-content: space-between;
}

.me-grid-fluid>* {
    flex: 0;
}



.me-margin-remove {
    margin: 0;
}

.me-chev-right {
    padding-left: 10px;
}

.me-contact-link {
    text-decoration: none;
    cursor: pointer;
    color: #1e87f0;
}

.me-button {
    background: #eaeaea;
    border: 0;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;

}

.me-button-primary {
    background: #1e87f0;
    color: #fff;
}

.me-height-fill {
    height: 100%;
}

.me-dashboard {
    display: flex;
    margin-left: -13px !important;
}

.me-dashboard>* {
    border-right: 1px solid #eaeaea;
    padding: 0px 13px;

}

.me-dashboard>*:last-child {
    border-right: 0;
}

@media only screen and (min-width:640px) {
    .me-grid>* {
        flex: 0;
        margin: 0px 5px 0px 5px;
    }

    .me-card-body.me-grid>* {
        flex: 0;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .me-grid-2>* {
        width: 50%;
        flex: 1;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:640px) {
    .me-card-body.me-grid>* {
        margin-bottom: 15px;
        ;

    }

    .me-grid-2>* {
        width: 100%;
        flex: 1;
        margin-bottom: 10px;
        min-width: 100%
    }

}