<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledresources/frameworks/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledResources/UIKit/uikit/dist/css/uikit.min.css" />
    <script src="https://kit.fontawesome.com/cb64bb34fd.js"></script>
    <script src="https://www.me-content.com/mec/system/compiledResources/frameworks/jquery/dist/jquery.min.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledresources/frameworks/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.me-content.com/mec/system/compiledResources/UIKit/uikit/dist/js/uikit.min.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledResources/UIKit/uikit/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledResources/flatpickr/dist/flatpickr.min.css">
    <script src="https://www.me-content.com/mec/system/compiledResources/flatpickr/dist/flatpickr.min.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledResources/modules/apexcharts/dist/apexcharts.min.js"></script>
    <script
        src="https://www.me-content.com/mec/system/compiledResources/modules/apexcharts/dist/vue-apexcharts.js"></script>
    <link rel="stylesheet" href="style/fsa_home.css">
    <link rel="stylesheet"
        href="https://www.me-content.com/mec/system/compiledResources/modules/apexcharts/dist/apexcharts.css">
</head>

<body>
    <div id="launchpadHome">
        <div class="uk-position-top-right m-3">
            <select class="uk-select" name="" id="" v-model="productPage">
                <option value="fsa">FSA</option>
                <option value="cobra">COBRA</option>
            </select>
        </div>
        <!-- main home page area -->
        <div class="uk-section uk-section-xsmall">
            <div class="uk-container">
                <div class="uk-grid-match uk-grid-small" uk-grid="masonry: true">

                    <div class="uk-width-3-4@s">
                        <template>
                            <h3 v-if="launchpadItems">
                                {{ launchpadItems.product.title }} Home
                            </h3>
                        </template>
                        <template v-if="launchpadItems">
                            <quickbtn :array="launchpadItems.buttons"></quickbtn>
                        </template>
                    </div>
                    <div class="uk-width-expand ">
                        <h3>
                            Resources
                        </h3>
                        <template v-if="launchpadItems">
                            <resources :array="launchpadItems.resources"></resources>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <!-- dashboard area -->
        <div class="uk-section uk-section-xsmall">
            <div class="uk-container">
                <template>
                    <h3 v-if="launchpadItems">
                        {{ launchpadItems.product.title }} Dashboard
                    </h3>
                </template>
                <div class="uk-grid-small uk-grid uk-grid-stack" uk-grid="masonry: true">
                    <div class="uk-width-1-1@s uk-first-column">
                        <ul uk-accordion="" class="uk-accordion">
                            <li class="uk-card uk-card-default uk-padding-small uk-open">
                                <a class="uk-accordion-title" href="#"><span
                                        uk-tooltip="title:Health Care Flexible Spending Account Information; delay: 300"
                                        title="" aria-expanded="false">HCFSA
                                        Dashboard</span></a>
                                <div class="uk-accordion-content" aria-hidden="false">
                                    <div class="uk-grid-small uk-grid-divider uk-child-width-expand@s uk-grid"
                                        uk-grid="">
                                        <div class="uk-text-center me-dashboard-item uk-first-column">
                                            <div class="me-dashboard-metric">
                                                $2,000
                                            </div>
                                            <div class="uk-text-meta me-metric-title">
                                                FSA Election
                                            </div>

                                        </div>
                                        <div class="uk-text-center me-dashboard-item">
                                            <div class="me-dashboard-metric">
                                                $1,000
                                            </div>
                                            <div class="uk-text-meta me-metric-title">
                                                FSA Paid
                                            </div>

                                        </div>
                                        <div class="uk-text-center me-dashboard-item">
                                            <div class="me-dashboard-metric">
                                                $1,000
                                            </div>
                                            <div class="uk-text-meta me-metric-title">
                                                FSA Remaining
                                            </div>

                                        </div>
                                        <div class="uk-text-center me-dashboard-item">
                                            <div class="me-dashboard-metric">
                                                3/31/2020
                                            </div>
                                            <div class="uk-text-meta me-metric-title">
                                                Last Day to incur charges
                                            </div>

                                        </div>
                                        <div class="uk-text-center me-dashboard-item">
                                            <div class="me-dashboard-metric">
                                                6/30/2020
                                            </div>
                                            <div class="uk-text-meta me-metric-title">
                                                Last Day to Submit
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-1-1@s uk-grid-margin uk-first-column">
                        <ul uk-accordion="" class="uk-accordion">
                            <li class="uk-card uk-card-default uk-padding-small uk-open">
                                <a class="uk-accordion-title" href="#"><span
                                        uk-tooltip="title:Dependent Care Flexible Spending Account Information; delay:300"
                                        title="" aria-expanded="false">DCFSA
                                        Dashboard</span></a>
                                <div class="uk-accordion-content" aria-hidden="false">
                                    <div class="uk-grid-small uk-grid-divider uk-child-width-expand@s uk-grid"
                                        uk-grid="">
                                        <div class="uk-text-center me-dashboard-item uk-first-column">
                                            <div class="me-dashboard-metric">
                                                $2,000
                                            </div>
                                            <div class="uk-text-meta me-metric-title">
                                                FSA Election
                                            </div>

                                        </div>
                                        <div class="uk-text-center me-dashboard-item">
                                            <div class="me-dashboard-metric">
                                                $1,000
                                            </div>
                                            <div class="uk-text-meta me-metric-title">
                                                FSA Paid
                                            </div>

                                        </div>
                                        <div class="uk-text-center me-dashboard-item">
                                            <div class="me-dashboard-metric">
                                                $1,000
                                            </div>
                                            <div class="uk-text-meta me-metric-title">
                                                FSA Remaining
                                            </div>

                                        </div>
                                        <div class="uk-text-center me-dashboard-item">
                                            <div class="me-dashboard-metric">
                                                3/31/2020
                                            </div>
                                            <div class="uk-text-meta me-metric-title">
                                                Last Day to incur charges
                                            </div>

                                        </div>
                                        <div class="uk-text-center me-dashboard-item">
                                            <div class="me-dashboard-metric">
                                                6/30/2020
                                            </div>
                                            <div class="uk-text-meta me-metric-title">
                                                Last Day to Submit
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-expand">
                        <div id="chart">
                            <apexchart type="line" height="350" :options="chartOptions" :series="series">
                            </apexchart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://www.me-content.com/mec/system/compiledResources/frameworks/vue/dist/vue.js"></script>
    <script src="js/vue_components.js"></script>
</body>

</html>